@charset "utf-8";
@font-face {
    font-family: "Myriad Pro Regular";
    src: url("_fontes/MyriadPro-Light.otf");
}

* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    margin: auto;
    max-height: 3000px;
    max-width: 3000px;
    min-width: 550px;
}


/*Edição do header*/

header {
    background-color: #2c3e50;
    height: 100%;
    margin: auto;
    padding-top: 100px;
    width: 100%;
}

.pTitleHeader {
    color: #8e98a2;
    font-family: "Myriad Pro Regular";
    font-size: 50px;
    text-align: center;
}

.pSecondHeader {
    color: #8e98a2;
    font-family: 'Myriad Pro Regular';
    font-size: 30px;
    line-height: 200%;
    padding-bottom: 30px;
    text-align: center;
}

.imgHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}


/*Edição do Nav*/

nav {
    background-color: #2c3e50;
    border-bottom: 1px solid #000;
    height: 50px;
    max-width: 3000px;
    position: fixed;
    top: 0;
    width: 100%;
}

.pNav {
    color: #fff;
    float: left;
    font-family: 'Myriad Pro Regular';
    font-size: 30px;
    font-weight: bold;
    line-height: 150%;
    padding-left: 20%;
}

ul {
    float: right;
    font-family: 'Myriad Pro Regular';
    list-style-type: none;
    padding-right: 20%;
}

li {
    color: #8e98a2;
    line-height: 300%;
    display: inline-block;
    margin-right: 35px;
    transition: 1s;
}

li:hover {
    color: #fff;
    transition: 2s;
}


/*Edição do section about*/

section {
    background-color: #fff;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.pTitle {
    color: #6b6b6b;
    font-family: 'Myriad Pro Regular';
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}

.pAbout,
.pTeam,
.pfigText {
    color: #6b6b6b;
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}

.imgAbout {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Edição do Our Team*/

.team {
    background-color: #eeeeee;
}

.positionTeam {
    display: block;
    margin-left: 16%;
    margin-right: auto;
}

article {
    display: inline-block;
    height: 20%;
    width: 20%;
}

.pTitleUser {
    color: #6b6b6b;
    font-size: 25px;
    font-weight: 500;
    padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}

.pfigText {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 5%;
    text-align: center;
    width: 80%;
}

.imgTeam {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.buttonTeam {
    background-image: url("../_imagens/email.png");
    background-size: 100%;
    border-radius: 3px;
    display: block;
    height: 35px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}