@charset "utf-8";
@font-face {
    font-family: "Myriad Pro Light";
    src: url("_fontes/MyriadPro-Light.otf");
}

* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    margin: auto;
    max-height: 2160px;
    max-width: 3840px;
    min-width: 550px;
}


/*Edição do Home*/

#home {
    background-color: #2c3e50;
    height: 100%;
    margin: auto;
    padding-top: 100px;
    width: 100%;
}

.pTitleHeader {
    color: #8e98a2;
    font-family: "Myriad Pro Light";
    font-size: 50px;
    text-align: center;
}

.pSecondHeader {
    color: #8e98a2;
    font-family: "Myriad Pro Light";
    font-size: 30px;
    line-height: 200%;
    padding-bottom: 30px;
    text-align: center;
}

.imgHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}


/*Edição do Nav*/

nav {
    background-color: #2c3e50;
    border-bottom: 1px solid #000;
    height: 50px;
    max-width: 3840px;
    position: fixed;
    top: 0;
    width: 100%;
}

.link {
    color: #8e98a2;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #fff;
}

.pNav {
    color: #fff;
    float: left;
    font-family: "Myriad Pro Light";
    font-size: 30px;
    font-weight: bold;
    line-height: 150%;
    padding-left: 20%;
}

.ulNav {
    float: right;
    font-family: "Myriad Pro Light";
    list-style-type: none;
    padding-right: 20%;
}

.liNav {
    color: #8e98a2;
    display: inline-block;
    line-height: 300%;
    margin-right: 35px;
    transition: 1s;
}

.liNav:hover {
    color: #fff;
    transition: 2s;
}


/*Edição do section about*/

section {
    background-color: #fff;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.pTitle {
    color: #6b6b6b;
    font-family: "Myriad Pro Light";
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}

.pAbout,
.pTeam,
.pContact,
.pPortifolio,
.pfigText {
    color: #6b6b6b;
    font-family: "Myriad Pro Light";
    font-size: 20px;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}

.imgAbout {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Edição do Our Team*/

#team {
    background-color: #eeeeee;
}

.positionTeam {
    display: block;
    margin-left: 16%;
    margin-right: auto;
}

article {
    display: inline-block;
    height: 20%;
    width: 20%;
}

.pTitleUser {
    color: #6b6b6b;
    font-size: 25px;
    font-weight: 500;
    padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}

.pfigText {
    font-size: 15px;
    padding-left: 5%;
    padding-top: 10px;
    text-align: center;
    width: 80%;
}

.imgTeam {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.buttonTeam {
    background-image: url("../_imagens/email.png");
    background-size: 100%;
    border-radius: 3px;
    display: block;
    height: 35px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}


/*Edição do Contact*/

#contact {
    background-color: #eeeeee;
}

.formContact {
    text-align: center;
}

.inputContact {
    border: 1px inset #D3D3D3;
    border-radius: 2px;
    font-family: "Myriad Pro Light";
    height: 30px;
    margin-top: 10px;
    width: 450px;
}

textarea {
    border: 1px inset #D3D3D3;
    border-radius: 2px;
    display: block;
    font-family: "Myriad Pro Light";
    height: 150px;
    margin: 10px auto;
    width: 450px;
}

.buttonContact {
    background-color: #2c3e50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: "Myriad Pro Light";
    font-size: 22px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    width: 150px;
}


/*Edição do footer*/

footer {
    background-color: #fff;
    bottom: 0;
    box-sizing: border-box;
    font-family: "Myriad Pro Light";
    height: 120px;
    width: 100%;
}

.ulFooter {
    line-height: 30px;
    padding-top: 40px;
    text-align: center;
}

.liFooter {
    color: #6b6b6b;
    display: inline-block;
    font-size: 17px;
}

.liFooter:before {
    content: ":";
    margin-left: 15px;
    margin-right: 15px;
}

.liFooter:first-child:before {
    content: none;
}

#pFooter {
    color: #acacac;
    font-size: 15px;
    text-align: center;
}


/*Edição do Portfolio*/

#portfolio {
    margin-bottom: 20px;
}

.positionPortButton {
    text-align: center;
}

.buttonPort {
    background-color: #fff;
    border: 1px solid #a1a1a1;
    border-radius: 2px;
    color: #a1a1a1;
    height: 30px;
    margin-right: 10px;
    max-width: 100px;
    transition: 1s;
    width: 100%;
}

.buttonPort:focus,
.buttonPort:hover {
    border: 1px solid #2c3e50;
    color: #2c3e50;
    outline: 0;
    text-decoration: none;
    transition: 2s;
}

.positionPortImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    width: 100%;
}

.figurePort {
    background-color: #eeeeee;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 20px;
    max-height: 250px;
    max-width: 250px;
    width: 100%;
}

.imgPort2 {
    height: 250px;
    width: 250px;
}

.figPort {
    background-color: #9a9a9a;
    bottom: 0;
    height: 80px;
    width: 100%;
}

.pFigPort {
    color: #fff;
    font-family: "Myriad Pro Light";
    padding-top: 4%;
}

.title {
    font-size: 20px;
}

.text {
    font-size: 12px;
}

h3 {
    color: #6b6b6b;
    font-family: "Myriad Pro Light";
    font-size: 30px;
    line-height: 150px;
    text-align: center;
}