<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="_CSS\style.css">
    <meta charset="utf-8">
    <meta name="description" content="Wireframe para teste front-end">
    <title>Wireframe</title>
</head>

<body>
    <div class="container">
        <header>
            <p class="pTitleHeader">We build Awesome Wireframe</p>
            <p class="pSecondHeader">A Template by Your Company</p>
            <img class="imgHeader" src="_imagens/MacbookPro.png" alt="Macbook Pro">
        </header>
        <nav>
            <p class="pNav">LOGO</p>
            <ul class="ulNav">
                <li class="liNav">
                    <a>Home</a>
                </li>
                <li class="liNav">
                    <a>About</a>
                </li>
                <li class="liNav">
                    <a>Team</a>
                </li>
                <li class="liNav">
                    <a>Portfolio</a>
                </li>
                <li class="liNav">
                    <a>Contact</a>
                </li>
            </ul>
        </nav>
        <section class="about">
            <p class="pTitle">About Us</p>
            <p class="pAbout">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <img class="imgAbout" src="_imagens/iPadAir.png" alt="iPad Air">
            <p class="pAbout">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                aliquet nec, vulputate eget, arcu.
            </p>
        </section>
        <section class="team">

            <p class="pTitle">Our Team</p>
            <p class="pTeam">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <div class="positionTeam">
                <article>
                    <figure>
                        <img class="imgTeam" src="_imagens/userMale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input class="buttonTeam" type="button">
                        </form>
                    </figure>
                </article>
                <article>
                    <figure>
                        <img class="imgTeam" src="_imagens/userFemale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input class="buttonTeam" type="button">
                        </form>
                    </figure>
                </article>
                <article>
                    <figure>
                        <img class="imgTeam" src="_imagens/userMale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input class="buttonTeam" type="button">
                        </form>
                    </figure>
                </article>
                <article>
                    <figure>
                        <img class="imgTeam" src="_imagens/userFemale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input class="buttonTeam" type="button">
                        </form>
                    </figure>
                </article>
            </div>
        </section>
        <section></section>
        <section class="contact">
            <p class="pTitle">Contact</p>
            <p class="pContact">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <form class="formContact" method="POST" action="#">
                <input name="Name" type="text" placeholder="Enter your Name" maxlength="50" required="required">
                <br>
                <input name="Address" type="email" placeholder="Enter your Address" maxlength="50" required="required">
                <br>
                <input name="City" type="text" placeholder="Enter your City" maxlength="50" required="required">
                <br>
                <input name="Email" type="email" placeholder="Enter your Email Address" maxlength="50" required="required">
                <br>
                <textarea placeholder="Enter your Email Menssage" maxlength="250"></textarea>
                <input class="buttonContact" type="submit" value="Submit">
                <br>
            </form>
        </section>
        <footer>
            <ul class="ulFooter">
                <li class="liFooter">
                    <a>Home</a>
                </li>
                <li class="liFooter">
                    <a>About</a>
                </li>
                <li class="liFooter">
                    <a>Team</a>
                </li>
                <li class="liFooter">
                    <a>Portfolio</a>
                </li>
                <li class="liFooter">
                    <a>Contact</a>
                </li>
            </ul>
            <p id="pFooter">Copyright © Your Company 2014. All Rights Reserved</p>
        </footer>
    </div>
</body>

</html>