<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="_CSS\style.css">
    <script type="text/javascript" src="_JS\javascript.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="teste front-end">
    <title>Wireframe.html</title>
</head>

<body>
    <div class="container">
        <header id="home">
            <p class="pTitleHeader">We build Awesome Wireframe</p>
            <p class="pSecondHeader">A Template by Your Company</p>
            <img src="_imagens/MacbookPro.png" alt="Macbook Pro">
        </header>
        <nav>
            <p class="pNav">LOGO</p>
            <ul>
                <li>
                    <a class="link" href="#home">Home</a>
                </li>
                <li>
                    <a class="link" href="#about">About</a>
                </li>
                <li>
                    <a class="link" href="#team">Team</a>
                </li>
                <li>
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <section id="about">
            <p class="pTitle">About Us</p>
            <p class="pText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <img src="_imagens/iPadAir.png" alt="iPad Air">
            <p class="pText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                aliquet nec, vulputate eget, arcu.
            </p>
        </section>
        <section id="team">
            <p class="pTitle">Our Team</p>
            <p class="pText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <div>
                <article>
                    <figure>
                        <img src="_imagens/userMale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input type="button">
                        </form>
                    </figure>
                </article>
                <article>
                    <figure>
                        <img src="_imagens/userFemale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input type="button">
                        </form>
                    </figure>
                </article>
                <article>
                    <figure>
                        <img src="_imagens/userMale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input type="button">
                        </form>
                    </figure>
                </article>
                <article>
                    <figure>
                        <img src="_imagens/userFemale.png" alt="Male">
                        <figcaption>
                            <p class="pTitleUser">Name</p>
                            <p class="pfigText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                        </figcaption>
                        <form>
                            <input type="button">
                        </form>
                    </figure>
                </article>
            </div>
        </section>
        <section id="portfolio">
            <p class="pTitle">Portfolio</p>
            <p class="pText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <form>
                <div class="positionPortButton">
                    <input name="All" type="button" value="All" onclick="showAll()">
                    <input name="Design" type="button" value="Design" onclick="showDesign()">
                    <input name="identify" type="button" value="Identify" onclick="showIdentify()">
                    <input name="Photography" type="button" value="Photography" onclick="showPhotography()">
                    <input name="ilustration" type="button" value="Ilustration" onclick="showIlustration()">
                </div>
                <div class="positionPortImages">
                    <figure class="figurePort design">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Design</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort identify">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Identify</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort design">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Design</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort photography">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Photography</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort central">
                        <img class="imgPort2" src="_imagens/imgPortfolio.png" alt="Image of Portfolio">
                    </figure>
                    <figure class="figurePort identify">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Identify</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort ilustration">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Ilustration</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort ilustration">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Ilustration</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                    <figure class="figurePort design">
                        <h3>Image</h3>
                        <figcaption>
                            <p class="pFigPort title">Design</p>
                            <p class="pFigPort text">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.</p>
                        </figcaption>
                    </figure>
                </div>
            </form>
        </section>
        <section id="contact">
            <p class="pTitle">Contact</p>
            <p class="pText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <form method="POST" action="#">
                <input name="Name" type="text" placeholder="Enter your Name" maxlength="50" required="required">
                <br>
                <input name="Address" type="text" placeholder="Enter your Address" maxlength="50" required="required">
                <br>
                <input name="City" type="text" placeholder="Enter your City" maxlength="50" required="required">
                <br>
                <input name="Email" type="email" placeholder="Enter your Email Address" maxlength="50" required="required">
                <br>
                <textarea placeholder="Enter your Email Menssage" maxlength="250"></textarea>
                <input class="buttonContact" type="submit" value="Submit">
                <br>
            </form>
        </section>
        <footer>
            <ul>
                <li>
                    <a class="link" href="#home">Home</a>
                </li>
                <li>
                    <a class="link" href="#about">About</a>
                </li>
                <li>
                    <a class="link" href="#team">Team</a>
                </li>
                <li>
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="link" href="#contact">Contact</a>
                </li>
            </ul>
            <p id="pFooter">Copyright © Your Company 2014. All Rights Reserved</p>
        </footer>
    </div>
</body>

</html>