<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="_CSS\style.css">
    <meta charset="utf-8">
    <meta name="description" content="Wireframe para teste front-end">
    <title>Wireframe</title>
</head>

<body>
    <div class="container">
        <header>
            <h2 class="h2Header">We build Awesome Wireframe</h2>
            <h3 class="h3Header">A Template by Your Company</h3>
            <img class="imgHeader" src="_imagens/MacbookPro.png" alt="Macbook Pro">
        </header>
        <nav>
            <h2 class="h2Nav">LOGO</h2>
            <ul>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <li>
                    <a>Team</a>
                </li>
                <li>
                    <a>Portfolio</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
            </ul>
        </nav>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <footer></footer>
    </div>
</body>

</html>